/*==============================================================================
    HEADER
==============================================================================*/

/*==============================================================================
    MIDDLE
==============================================================================*/

#middle {
    padding: 15px;
}

/*********************************************
    REGISTRATION FORM
*********************************************/

#registration-form {
    max-width: 300px;

    .form-group {
        color: #ff0000;

        label {
            color: #333;
        }

        input {
            color: #333;
        }
    }
}

/*==============================================================================
    FOOTER
==============================================================================*/