/*==============================================================================
    HEADER
==============================================================================*/
/*==============================================================================
    MIDDLE
==============================================================================*/
#middle {
  padding: 15px; }

/*********************************************
    REGISTER & LOGIN FORMS
*********************************************/
#register-form,
#login-form {
  max-width: 300px; }
  #register-form .form-group .error,
  #login-form .form-group .error {
    color: #ff0000; }

/*==============================================================================
    FOOTER
==============================================================================*/
