/*==============================================================================
    HEADER
==============================================================================*/
/*==============================================================================
    MIDDLE
==============================================================================*/
#middle {
  padding: 15px; }

/*********************************************
    REGISTRATION & LOGIN FORMS
*********************************************/
#registration-form,
#login-form {
  max-width: 300px; }
  #registration-form .form-group,
  #login-form .form-group {
    color: #ff0000; }
    #registration-form .form-group label,
    #login-form .form-group label {
      color: #333; }
    #registration-form .form-group input,
    #login-form .form-group input {
      color: #333; }

/*==============================================================================
    FOOTER
==============================================================================*/
